{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les 3 dernières séries de la categorie {{ categoryName }} : </h1>
    {% for program in programs %}
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
                <p class="card-text">{{ program.summary }}</p>
            </div>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}