{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
    {% for program in programs %}
        <div>
            <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            </tr>
            <strong>Acteurs :</strong>
            {% for actor in program.actors %}
                <li>{{ actor.name }} </li>
            {% else %}
                <li>Aucun acteur pour cette série</li>
            {% endfor %}
            <p>{{ program.summary }}</p>
            <a href="{{ path('show_program', { slug: program.title }) }}">
                Saisons
            </a>
            <br>
            <br>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}

